.selectedCardContainer{
  padding: 5px;
  margin: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(236, 78, 104);
  gap: 1rem;

}

.selectedCardContainer>span:nth-of-type(1){
  color: #fff;
  font-family: cursive;

}

.selectedCardContainer>span:nth-of-type(2){
  color: rgb(43, 17, 17);
  font-family: cursive;
  cursor: pointer;
}